.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {

    border-right: 1px solid #000000;
  }
  .navbar .navbar-nav .nav-item .nav-link {
   
    color: blue;
    font-weight: bold;
  }
 
 #logo {width: 90px; }