body {
    background-image: url("https://images.hdqwalls.com/download/camel-leaders-silhouette-bz-1920x1080.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  }
td{
  padding: 1px;
}
  #g{
    background-color: green;
    height: 1px;
  }
  #y{
    background-color: yellow;
  }

  #r{
    background-color: red;
  }