.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {

    border-right: 1px solid #000000;
  }
  .navbar .navbar-nav .nav-item .nav-link {
   
    color: blue;
    font-weight: bold;
  }
 
 #logo {width: 90px; }

 html, body {
	height: 100%;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
.alignleft {
	float:left;
	margin-right:15px;
	margin-bottom: 15px;
}
.alignright {
	float:right;
	margin-left:15px;
	margin-bottom: 15px;
}
.aligncenter {
	display:block;
	margin:0 auto 15px;
}
a:focus {
	outline:0px solid;
}